@model IEnumerable<PhotoGallery.Models.Photo>
<!DOCTYPE HTML>

<html>
<head>
    <title>Gallery</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="~/Content/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/HelperStyle.css" rel="stylesheet" type="text/css" />
</head>
<body class="backgroundColor">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <div class="content">
                <h1>Moonclaf</h1>
                <h2>
                    This is @ViewBag.User 's gallery.
                </h2>
                <a href="#" class="button big alt"><span>Explore</span></a>
            </div>
            <a href="#" class="button hidden"><span>Explore</span></a>
        </div>
    </header>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <div class="columns">

                @foreach (var photo in Model)
                {
                    <div>
                        @if (photo.Image != null)
                        {
                            var base64 = Convert.ToBase64String(photo.Image);
                            var imgsrc = string.Format("data:file/gif;base64,{0}", base64);
                            <div class="image fit">
                                <a href="~/Photos/Details/@photo.Id"><img src="@imgsrc" alt="" /></a>
                            </div>
                        }
                        else
                        {
                            <img src="http://wonkville.net/wp-content/uploads/2016/04/No-image-available.jpg" style="width: 150px; height:100px" />
                        }
                    </div>


                }

            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <a href="#" class="info fa fa-info-circle"><span>About</span></a>
        <div class="inner">
            <div class="content">
                <h3>The whole gallery.</h3>
                <p>Here you can browse all user uploads.Click on an image if you want to see more details.</p>
            </div>
            <div class="copyright">
                <h3>Follow us</h3>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                </ul>
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>