<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>About</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />




</head>
<body style="background-color:#d5d5d5">
    <div class="main" style="background-color:#d5d5d5">
        <div class="wrap">
            <div class="abstract">

                <div class="section group">
                    <div class="cont1 span_2_of_a1">
                        <h3>Our Mission</h3>
                        <p>To progress in the software development community.</p>
                        <p>To be recognized by the big names in the bussiness.</p>
                        <p>To be able to create our own templates, but for now this one is from w3Layouts. Give them a click sometimes.</p>

                        <h5 class="m_6">Meet Our Team</h5>
                        <div class="section group">
                            <div class="col_1_of_about-box span_1_of_about-box">
                                <a class="popup-with-zoom-anim" href="#small-dialog3"><img src="~/Images/Vick.jpg" height="262" title="Vick" alt=""></a>
                                <h4 class="m_7"><a href="https://www.facebook.com/viktor.enev.37">Victor D. Enev</a></h4>
                                <div id="small-dialog3" class="mfp-hide">
                                    <div>
                                        <br />
                                        <h1>Go forward and succeed</h1>
                                        <p>To each there comes in their lifetime a special moment when they are figuratively tapped on the shoulder and offered the chance to do a very special thing, unique to them and fitted to their talents. What a tragedy if that moment finds them unprepared for that which could have been their finest hour.</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col_1_of_about-box span_1_of_about-box">
                                <a class="popup-with-zoom-anim" href="#small-dialog3"><img src="~/Images/Teo.jpg" height="262" title="Teo" alt=""></a>
                                <h4 class="m_7"><a href="https://www.facebook.com/teodor.stoqnov.526">Teodor S. Stoyanov</a></h4>
                            </div>
                            <div class="col_1_of_about-box span_1_of_about-box">
                                <a class="popup-with-zoom-anim" href="#small-dialog3"><img src="~/Images/Alex.jpg" height="262" title="Alex" alt=""></a>
                                <h4 class="m_7"><a href="https://www.facebook.com/sashovt">Alexander Veselinov</a></h4>

                            </div>
                            <div class="clear"></div>

                        </div>

                    </div>
                    <div class="labout span_1_of_a1">
                        <h3>Testimonials</h3>
                        <div class="testimonials ">
                            <div class="testi-item">
                                <blockquote class="testi-item_blockquote">
                                    <a href="#">This is the best gallery I have ever used! </a>
                                    <div class="clear"></div>
                                </blockquote>
                                <small class="testi-meta">
                                    <span class="user">Pablo Picasso </span>,
                                    <span class="info">Artist</span><br><a href="#">https://en.wikipedia.org/wiki/Pablo_Picasso</a>
                                </small>
                            </div>
                        </div>
                        <div class="testimonials ">
                            <div class="testi-item">
                                <blockquote class="testi-item_blockquote">
                                    <a href="#">Very easy to use. I really like the simplicity.</a>
                                    <div class="clear"></div>
                                </blockquote>
                                <small class="testi-meta">
                                    <span class="user">Timothy Hogan</span>,
                                    <span class="info">Photographer</span><br><a href="#">http://www.timothy-hogan.com/g</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>