@using Microsoft.AspNet.Identity;
@model IEnumerable<PhotoGallery.Models.Category>

<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/hover_pack.js"></script>

    <link href="~/Content/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

</head>
<body style="background-color:#d5d5d5">

    <div class="index-banner" style="background-image:url(../../Images/Cute-Camera-Wallpaper.jpg)">
        <div class="wmuSlider example1">
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <div class="cont span_2_of_3">
                        <h1 style="font-family: 'Ultra',serif">Welcome to Moonclaf Image Gallery.<br />Enjoy your stay.</h1>
                    </div>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <div class="cont span_2_of_3">
                        <h1 style="font-family: 'Ultra',serif">Photos, illustrations by<br> Creatives all over the world.</h1>
                        <div class="search_box">
                            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                            {
                                <input type="text" name="title_user" value="Search for image/user" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search for image/user';}"><input type="submit" value="">
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <script src="~/Scripts/jquery.wmuSlider.js"></script>
        <script>
            $('.example1').wmuSlider();
        </script>
    </div>

    <div class="main" style="background-color:#d5d5d5">
        <div class="content-bottom">
            <h2 class="m_2">Browse by Category</h2>
            <div class="wrap">
                <div class="section group">
                    <div class="col_1_of_5 span_1_of_5">
                        <ul class="list1">

                                    @foreach (var category in Model)
                                    {
                                        <li>
                                            @Html.ActionLink(@category.Name, "CategoryGallery", "Photos", new { @id = category.Id }, null)
                                        </li>
                                    }
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>