@model List<PhotoGallery.Models.ApplicationUser>

@{
    ViewBag.Title = "List";
}


<!DOCTYPE HTML>

<html>
<head>
    <title>Admin:Users</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="~/Content/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/HelperStyle.css" rel="stylesheet" type="text/css" />


</head>
<body class="backgroundColor">


    <!-- Main -->
    <div class="container">
        <div class="well">
            <h2 class="title">Users</h2>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Edit / Delete</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in Model)
                    {
                        if(ViewBag.Admins.Contains(user.UserName))
                        {
                            @:<tr class="info">
                        }
                        else
                        {
                            @:<tr>
                        }
                            <td>@user.Id</td>
                            <td>@user.Email</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "User", new { @id = user.Id }, new { @class = "btn btn-group-sm" })
                                @Html.ActionLink("Delete", "Delete", "User", new { @id = user.Id }, new {@style="margin-left:7px", @class="btn btn-danger"})
                            </td> 
                    }
                </tbody>
            </table>
        </div>
    </div>


    <!-- Footer -->
    <footer id="footer">
        <a href="#" class="info fa fa-info-circle"><span>About</span></a>
        <div class="inner">
            <div class="content">
                <h3>This is the admin panel.</h3>
                <p>Only admins have access to this page. Here you can edit or delete users.</p>
            </div>
            <div class="copyright">
                <h3>Follow us</h3>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                </ul>
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>